---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
/* 화학 메뉴가 눌러졌을 때처럼 파란색 동그라미 표시 */
.active-teal {
    background-color: #20B2AA !important; /* 지우 님이 원한 청록색 */
    color: white !important;
    border-radius: 20px;
    padding: 5px 15px !important;
    box-shadow: 0 4px 8px rgba(32, 178, 170, 0.3);
}

/* 마우스를 올렸을 때 효과 */
.cat-btn:hover {
    color: #20B2AA;
    transition: 0.3s;
}
